body {
    background-color: #2D4356;
}

.custom-btn-login {
background-color: #2D4356;
color: white;
width: 10rem;
}
.custom-btn-login:hover {
    background-color: #2D4356;
    color: white;
    width: 10rem;
    }