:root {
    --primary-color: #2D4356;
    --secondary-color: #F5F5F5;
    --input-box-background: #D7D7D7;
}

body {
  /*background-color: rgb(255, 255, 255);*/
  background-color: var(--secondary-color);
  box-sizing: border-box;
  zoom: 1.1;
}

/* NAVBAR */
.navbar-custom {
  background-color: var(--primary-color);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgb(255, 255, 255);
}

.nav-link.active {
  border-bottom: 5px solid #E06565;
}

.custom-dropdown {
  background-color:#2D4356;
  border: 1px solid #F5F5F5;
}

.dropdown-item:hover {
  background-color: transparent;
}

/* penjelasan topsis pada halaman home */

.beginning {
  margin: 2.5rem;
  font-family: 'Tinos', serif;
  text-align: justify;
}

.beginning p {
  font-size: 20px;
}

.beginning h2 {
  font-weight:500;
  text-decoration-line: underline;
}

@media only screen and (max-width: 600px) {
  body {
    zoom: initial;
  }
}

/* table*/

.table-wrapper {
  width: 80rem;
  margin: 30px auto;
  background: #fff;
  padding: 20px;	
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table {
  table-layout: fixed;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: 100px;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}    
table.table td a.add {
  color: #27C46B;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.delete {
  color: #E34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}    
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}

.add-new {
  background-color: #2D4356;
  color: #D7D7D7;
}

.pagination > li > a
{
    background-color: #ffffff;
    color: #2D4356;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #ffffff;
    background-color: #2D4356;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color:#2D4356 !Important;
    border: solid 1px #ffffff !Important;
}

.pagination > .active > a:hover
{
    background-color: #2D4356 !Important;
    border: solid 1px #ffffff;
}