<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Criteria</b> Details</h2></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Bobot</th>
                        <th>Point 1</th>
                        <th>Point 2</th>
                        <th>Point 3</th>
                        <th>Point 4</th>
                        <th>Point 5</th>
                        <th>Sifat Kriteria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CR001</td>
                        <td>Kedisplinan</td>
                        <td>0.2</td>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <td>Benefit</td>
                    </tr>
                    <tr>
                        <td>CR002</td>
                        <td>Hasil Kerja</td>
                        <td>0.25</td>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <td>Benefit</td>
                    </tr>
                    <tr>
                        <td>CR003</td>
                        <td>Pengetahuan</td>
                        <td>0.2</td>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <td>Benefit</td>
                    </tr>
                    <tr>
                        <td>CR004</td>
                        <td>Sikap</td>
                        <td>0.2</td>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <td>Benefit</td>
                    </tr>
                    <tr>
                        <td>CR005</td>
                        <td>Kerja Sama</td>
                        <td>0.15</td>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <td>Benefit</td>
                    </tr>        
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>     