<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Criteria</b> Details</h2></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Keterangan</th>
                        <th>Bobot</th>
                        <th>Kriteria</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    let length = criterias.length;
                    let typeLength = criteria_types.length;
                    for (let i = 0; i < length; i++) {
                        let criteria = criterias[i];
                    %>
                        <tr>
                            <td><%= criteria._id %></td>
                            <td><%= criteria.name %></td>
                            <td><%= criteria.point %></td>
                            <% for (let j = 0; j < typeLength; j++) {
                                let type = criteria_types[j];
                                if (type._id === criteria.criteria_type_uid) {
                            %>
                                    <td><%= type.type %></td>
                            <%
                                }
                            }
                            %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>     