<div class="accordion beginning" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Studi Kasus
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Implementasi Metode TOPSIS Untuk Menentukan
            Karyawan Terbaik Berbasis Web Pada CV. Bima Eka Raya Teknik</strong>
         </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Metode Topsis 
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Tahapan Topsis
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Menentukan matriks keputusan:

              Identifikasi kriteria yang relevan untuk evaluasi alternatif.
              Berikan bobot pada setiap kriteria sesuai dengan tingkat kepentingannya.
              Nilai-nilai alternatif di setiap kriteria dimasukkan ke dalam matriks keputusan.
              Normalisasi matriks keputusan:

              Normalisasi dilakukan untuk menghilangkan dampak dari perbedaan skala antara kriteria.
              Setiap elemen dalam matriks keputusan dibagi dengan akar kuadrat dari jumlah kuadrat setiap kolom.
              Membuat matriks keputusan ternormalisasi terbobot:

              Setiap elemen dalam matriks keputusan ternormalisasi dikalikan dengan bobot yang sesuai untuk kriteria tersebut.
              Menghitung solusi ideal positif (A+) dan solusi ideal negatif (A-):

              Solusi ideal positif (A+) adalah vektor yang terdiri dari nilai maksimum untuk setiap kriteria.
              Solusi ideal negatif (A-) adalah vektor yang terdiri dari nilai minimum untuk setiap kriteria.
              Menghitung jarak antara setiap alternatif dengan solusi ideal positif (D+) dan solusi ideal negatif (D-):

              Jarak Euclidean dihitung antara setiap alternatif dengan A+ dan A-.
              Jarak D+ adalah jarak antara alternatif ke A+.
              Jarak D- adalah jarak antara alternatif ke A-.
              Menghitung skor preferensi relatif:

              Skor preferensi relatif (V) dihitung sebagai rasio antara jarak D- dengan jumlah jarak D+ dan D-.
              Merangking alternatif:

              Alternatif dengan skor preferensi relatif tertinggi dianggap sebagai pilihan terbaik.
              Metode TOPSIS membantu pengambil keputusan dalam mengevaluasi alternatif dengan mempertimbangkan banyak aspek atau kriteria. Dengan menggunakan konsep solusi ideal dan solusi anti-ideal, metode ini memberikan hasil prioritas yang objektif berdasarkan tingkat kesamaan dengan solusi yang diinginkan dan tingkat perbedaan dengan solusi yang tidak diinginkan.</p>
        </div>
      </div>
    </div>
</div>
