<div class="beginning">
<h2>Metode Topsis</h2>
<P>Proident aute anim tempor et. Dolore voluptate culpa mollit dolor sunt voluptate ullamco. Excepteur culpa excepteur amet laboris commodo nostrud adipisicing ad labore exercitation esse nisi. Excepteur consectetur minim occaecat occaecat eu minim qui tempor. Consectetur adipisicing elit ullamco laboris mollit voluptate minim nulla sit dolor. Adipisicing velit amet velit esse.</P>
<br>

<h2>Tahapan Topsis</h2>
<p>Est labore voluptate ex anim do ad qui culpa qui qui. In est fugiat exercitation quis consectetur et deserunt. Ullamco laboris officia laborum dolore est. Cillum eu nulla excepteur cupidatat do ad velit do ullamco. Et cillum consectetur sunt magna.</p>
<ul>
    <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
    <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
    <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
    <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
    <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
</ul>
<br>

<h2>Studi Kasus</h2>
<p>Implementasi Metode TOPSIS Untuk Menentukan
    Karyawan Terbaik Berbasis Web Pada Cv. bima eka raya teknik</p>
</div>