<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <h1>Ini Adalah Home Page Mengunakan ejs</h1>
    <h2>ayo kuta test perhitungan</h2>
    <%= 1+1 %>
    <p>Est qui proident ut mollit enim. Amet dolore consectetur non sint voluptate deserunt culpa laboris est pariatur irure. Quis irure et officia consectetur dolor velit anim duis veniam et dolor aliqua labore. Deserunt occaecat minim veniam non aliquip. Deserunt amet fugiat qui mollit aliqua aute in quis elit reprehenderit commodo nulla. Reprehenderit nisi id est non tempor aliqua consectetur esse nostrud. Eiusmod commodo nisi dolor veniam incididunt.</p>
    <br>
    <p>Elit occaecat sunt dolore cupidatat incididunt est voluptate dolor amet officia. Enim minim nostrud laborum ex adipisicing dolor aute eu. Magna mollit ea exercitation esse excepteur nulla reprehenderit ut culpa Lorem tempor. Deserunt minim ex anim sit quis consectetur nostrud ut.</p>
</body>
</html>