<div class="accordion beginning" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Studi Kasus
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Implementasi Metode TOPSIS Untuk Menentukan
            Karyawan Terbaik Berbasis Web Pada CV. Bima Eka Raya Teknik</strong>
         </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Metode Topsis 
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Tahapan Topsis
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong>
          <p>Est labore voluptate ex anim do ad qui culpa qui qui. In est fugiat exercitation quis consectetur et deserunt. Ullamco laboris officia laborum dolore est. Cillum eu nulla excepteur cupidatat do ad velit do ullamco. Et cillum consectetur sunt magna.</p>
          <ul>
              <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
              <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
              <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
              <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
              <li>Quis consequat duis ad est cupidatat aute esse exercitation sint culpa veniam anim cupidatat.</li>
          </ul>
        </div>
      </div>
    </div>
</div>
