<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2><b>Employee</b> Details</h2>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-dark add-new" data-bs-toggle="modal"
                            data-bs-target="#add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 1rem;" id="toolbar">
                <select class="form-control">
                    <option value="">all</option>
                    <option value="">done</option>
                    <option value="all">unset</option>
                </select>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nama Karyawan</th>
                        <th>Department</th>
                        <th>
                            <center>Penilaian</center>
                        </th>
                        <th>
                            <center>Actions</center>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>cdb7cf45de925907ce61a87d323464ab</td>
                        <td>Muhammad Fauzan Muharram</td>
                        <td>Developer</td>
                        <td>
                            <center><b>Done</b></center>
                        </td>
                        <td>
                            <center>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#edit" class="edit" title="Edit"
                                    data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#delete" class="delete"
                                    title="Delete" data-toggle="tooltip" onclick="setInputValue('2107412044')"><i
                                        class="material-icons">&#xE872;</i></a>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>2107412059</td>
                        <td>Ozan</td>
                        <td>Tech Lead</td>
                        <td>
                            <center><button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Nilai</button></center>
                        </td>
                        <td>
                            <center>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#edit" class="edit" title="Edit"
                                    data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#delete" class="delete"
                                    title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>2107412059</td>
                        <td>zan</td>
                        <td>Human Resources</td>
                        <td>
                            <center><button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Nilai</button></center>
                        </td>
                        <td>
                            <center>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#edit" class="edit" title="Edit"
                                    data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#delete" class="delete"
                                    title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>2107412059</td>
                        <td>zan</td>
                        <td>Human Resources</td>
                        <td>
                            <center><button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Nilai</button></center>
                        </td>
                        <td>
                            <center>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#edit" class="edit" title="Edit"
                                    data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#delete" class="delete"
                                    title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>2107412059</td>
                        <td>zan</td>
                        <td>Human Resources</td>
                        <td>
                            <center><button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Nilai</button></center>
                        </td>
                        <td>
                            <center>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#edit" class="edit" title="Edit"
                                    data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a data-bs-toggle="modal" type="button" data-bs-target="#delete" class="delete"
                                    title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- add new {Modal} -->
<div class="modal fade" id="add-new" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="add-new" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddNewLabel">New Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="<%= RouterDictionary.EMPLOYEE_CREATE %>" method="post">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nama Karyawan</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Nama Lengkap" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Department</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>--Select Department--</option>
                            <option value="1">Information and Technology Division</option>
                            <option value="2">Finance Division</option>
                            <option value="3">Human Resource Division</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Nilai {Modal} -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Penilaian</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="<%= RouterDictionary.MATRIX_SCORE_CREATE %>" method="post">
                    <p>Kedisplinan</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <p style="margin-top: 1rem;">Hasil Kerja</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <p style="margin-top: 1rem;">Pengetahuan</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <p style="margin-top: 1rem;">Sikap</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <p style="margin-top: 1rem;">Kerja Sama</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio1"
                            value="option1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2"
                            value="option2">
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline" style="margin-bottom: 1rem;">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio3"
                            value="option3">
                        <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- edit new {Modal} -->
<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EditLabel">Edit Karyawan</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">ID Karyawan</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="ID Karyawan" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nama Karyawan</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Nama Lengkap">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Department</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>--Select Department--</option>
                            <option value="1">Information and Technology Division</option>
                            <option value="2">Finance Division</option>
                            <option value="3">Human Resource Division</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete {Modal} -->
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EditLabel">Delete Karyawan</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="<%= RouterDictionary.EMPLOYEE_DELETE %>" method="post">
                <input type="hidden" name="<%= WebVariableDictionary.EMPLOYEE_UID %>" id="input-employee-uid" />
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">ID Karyawan</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="ID Karyawan" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nama Karyawan</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Nama Lengkap" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Department</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Department" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <button type="submit" class="btn btn-danger">Ya</button>
                </form>
                </div>
        </div>
    </div>
</div>