<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header") %>
</head>
<body>

    <%- body %>

    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>

</body>
</html>